<div class="container-fluid">
  <h1>Registered Sensors</h1>
<div id="sensorActions" class="sensor-button-row">
  <button mat-flat-button color="primary" routerLink="/sensors/create">Create</button>
  <button mat-flat-button color="accent" disabled="true">Edit</button>
</div>
  <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham-dark"
                   [rowData]="rowData"
                   rowSelection="multiple"
                   (gridReady)="onGridReady($event)"
                   [modules]="modules"
                   [columnDefs]="columnDefs">


  </ag-grid-angular>

</div>
