<h1>Register a new sensor</h1>
<form>
  <div [formGroup]="createSensorForm" class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" (click)="saveSensor()">Save</button>
    <button mat-flat-button color="warn" routerLink="/">Cancel</button>
  </div>

</form>

