<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <h4>Sensor selection</h4>
      <div class="container-fluid">
        <p-dropdown [options]="sensors" [(ngModel)]="selectedSensor" [style]="{'width':'250px'}"
                    optionLabel="name"></p-dropdown>
      </div>
    </div>

    <div class="col-sm-6">
      <h4>Date range selection</h4>
      <div class="container-fluid input-group">
        <div class="input-group mb-3">
          <span class="label label-default">Start date/ time: </span>
          <p-calendar [(ngModel)]="startDate" showTime="true" hourFormat="24"></p-calendar>
        </div>
        <div class="input-group mb-3">
          <span class="label label-default">End date/ time: </span>
          <p-calendar [(ngModel)]="endDate" showTime="true" hourFormat="24"></p-calendar>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button id="btnFilter" class="btn btn-info" (click)="btnLoadClicked()">Load</button>
    </div>
  </div>

</div>


<div class="container-fluid">
  <h4>Measurements</h4>
  <div class="container-fluid" style='height: 100%'>
    <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham-dark"

                     (gridReady)="onGridReady($event)"
                     [rowData]="rowData"
                     [modules]="modules"
                     [columnDefs]="columnDefs">

    </ag-grid-angular>
  </div>
</div>

<div class="container-fluid">
  <h4>Chart</h4>
  <div [chart]="chart"></div>
</div>
